<div class="admin-page">
  <p-card header="Categories" subheader="List of all categories">
    <div class="gird">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button
              styleClass="p-button-success"
              label="New"
              icon="pi pi-plus"
              routerLink="form">
            </p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <div class="gird">
      <div class="col-12">
        <p-table  styleClass="p-datatable-gridlines p-datatable-striped">
        
        </p-table>
      </div>
    </div>
    
</p-card>
</div>