header {
  height: 80px;

  .logo {
    .logoImg{
      border: black;
      border-radius: 50%;
    }
    img {
      width: 40px;
    }
  }

  .tools {
    .pi {
      margin-right: 15px;
      font-size: 14px;
      color: var(--surface-500);
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }


  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
