header {
  margin-bottom: 25px;
  .logo {
    .logoImg{
      border: black;
      border-radius: 50%;
    }
    img {
      width: 80px;
    }
  }

  .search {
    padding-top: 25px;

  }

  .navigation {
    padding-top: 25px;
  }

  .tools {
    padding-top: 20px;

    .pi {
      margin-right: 15px;
      font-size: 20px;
      color: var(--surface-500);
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }


  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
